html {background: #000; overflow: hidden;}
h1 {color: #fff;}

.uk-overlay-primary.uk-position-cover {z-index: 2; background: rgba(34,34,34,.35);}
.logo {position: relative; z-index: 3;}

@media (min-width: 1200px) {
.uk-padding-large {
    padding: 132px;
}

.cropper {
max-height: 90%;
overflow: hidden;
}

}

.topBar, .bottomBar {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 132px;
    width: 100%;
    background: #0C0C0C;
}

.bottomBar { 
    bottom: 0 !important;
    top: auto;
}